<div style="padding: 10px;" class="body-grid about-one">
    <p>Welcome to Discipline Management System, a cutting-edge solution designed to transform how schools manage discipline and behavior.</p>
    <p>In Discipline Management System, our mission is to empower schools with the tools they need to create safer, more orderly, and more productive learning environments. We believe that effective discipline management is essential for student success and school safety.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aspernatur error omnis excepturi soluta at doloribus consectetur optio praesentium consequuntur!</p>
</div>
<div style="padding: 10px;" class="body-grid about-two">
    <h2 class="about-us-heading" style="font-size: 16px; margin-top: 1px;">Streamlined Discipline Management</h2>
    <p style="margin-top: 1px;">Our system simplifies the process of reporting, tracking, and resolving disciplinary incidents, saving schools time and resources.</p>
    <p>DMS, ipsum dolor sit amet consectetur adipisicing elit. Asperiores quaerat quam obcaecati qui aut suscipit doloribus non minima, vel dolore! Praesentium veniam odit fuga. Non harum incidunt voluptatum facere repudiandae voluptatibus cupiditate aspernatur quo sunt error, asperiores sit repellendus, culpa laborum voluptatem, illum sint dolor quibusdam ut laboriosam. Natus, expedita.</p>
</div>
<div style="padding: 10px;" class="body-grid about-three">
    <h2 class="about-us-heading" style="font-size: 16px; margin-top: 1px;">Faster Response Times</h2>
    <p style="margin-top: 1px;"> With real-time incident reporting and notifications, we enable schools to respond promptly to behavior issues, ensuring a more productive educational experience for all.</p>
</div>
<div style="padding: 10px;" class="body-grid about-four">
    <h2 class="about-us-heading" style="font-size: 16px; margin-top: 1px;">Enhanced Communication</h2>
    <p style="margin-top: 1px;">Discipline Management System fosters collaboration between schools, parents, and students, promoting a united effort to address discipline concerns.</p>
</div>
<div style="padding: 10px;" class="body-grid about-five">
    <h2 class="about-us-heading" style="margin-top: 1px; font-size: 16px;">Data-Driven Insights</h2>
    <p style="margin-top: 1px;">Gain valuable insights from our analytics and reporting tools to make informed decisions and identify areas for intervention.</p>
</div>
<div style="padding: 10px;" class="body-grid about-six">
    <h2 class="about-us-heading" style="font-size: 16px; margin-top: 1px;">Comprehensive Documentation</h2>
    <p style="margin-top: 1px;">Say goodbye to inconsistent record-keeping. Our system maintains a transparent, organized, and comprehensive disciplinary record.</p>
</div>

<style>
    .about-us-heading{
    text-transform: capitalize;
    margin-top: 1px;
    background: linear-gradient(135deg,#6084c3, blue, #6084c3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: animate-dms-introduction 2s ease-in-out infinite;
    font-size: 18px;
    }

    @keyframes animate-dms-introduction{
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
    }

</style>