<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <h3 class="mission-header">Incident Reporting</h3>
        <p>Teachers and staff can submit incident reports electronically, making it easier to keep a detailed record of disciplinary issues and provide administrators with timely information.</p>
      </div>
      <div class="swiper-slide">
        <h3 class="mission-header">Communication and Alerts</h3>
        <p>DMS often include features for sending notifications and alerts to parents, teachers, and administrators regarding disciplinary incidents. This ensures that all stakeholders are aware of the situation.</p>
      </div>
      <div class="swiper-slide">
        <h3 class="mission-header">Data Analysis and Reporting</h3>
        <p>DMS can analyze discipline data over time to identify trends and patterns in student behavior. This helps schools make informed decisions and implement preventive measures.</p>
      </div>
      <div class="swiper-slide">
        <h3 class="mission-header">Intervention Planning</h3>
        <p>DMS assist in creating intervention plans for students who repeatedly engage in misbehavior. These plans may include counseling, mentoring, or additional support to address the root causes of the behavior.</p>
      </div>
      <div class="swiper-slide">
        <h3 class="mission-header">Documentation and Accountability</h3>
        <p>DMS help in maintaining a detailed and standardized record of disciplinary actions taken, ensuring transparency and accountability in the disciplinary process.</p>
      </div>
      <div class="swiper-slide">
        <h3 class="mission-header">Parental Involvement</h3>
        <p>They enable better communication with parents or guardians, allowing them to be informed about their child's behavior and any actions taken by the school to address it.</p>
      </div>
      <div class="swiper-slide">
        <h3 class="mission-header">Legal Compliance</h3>
        <p>Some systems help schools adhere to legal requirements by ensuring that disciplinary actions are in compliance with state and federal laws.</p>
      </div>
    </div>
    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
    <div class="swiper-pagination"></div>
</div>