<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

      <div class="box">
        <div class="header-loader">
          <div class="loadingDiv"></div>
        </div>
        <div class="inner-box">
          <div class="forms-wrap">
            <form action="index.html" autocomplete="off" class="sign-in-form">
              <div class="logo">
                <img src="/img/logo1.jpg" alt="easyclass" />
              </div>

              <div class="heading">
                <h2>Welcome Back</h2>
                <h6>Not registred yet?</h6>
                <a href="#" class="toggle">Sign up</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                  />
                  <label>Name</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                  />
                  <label>Password</label>
                </div>

                <input type="submit" value="Sign In" class="sign-btn" />

                <p class="text">
                  Forgotten your password or you login datails?
                  <a href="#">Get help</a> signing in
                </p>
              </div>
            </form>

            <form autocomplete="off" class="sign-up-form">
              <div class="logo">
                <img src="/img/logo1.jpg" alt="easyclass" />
              </div>

              <div class="heading">
                <h2>Get Started</h2>
                <h6>Already have an account?</h6>
                <a href="#" class="toggle">Sign in</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    autofocus="true"
                  />
                  <label>Your Full Names</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="email"
                    class="input-field"
                    autocomplete="off"
                  />
                  <label>School Name</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                  />
                  <label>School Email</label>
                </div>

                <input type="button" value="Sign Up" class="sign-btn" id="signupBtn"/>

                <p class="text">
                  By signing up, I agree to the
                  <a href="#">Terms of Services</a> and
                  <a href="#">Privacy Policy</a>
                </p>
              </div>
            </form>
          </div>

          <div class="carousel">
            <div class="images-wrapper" >
              <img src="/img/image1.png" class="image img-1 show" alt="" />
              <img src="/img/image2.png" class="image img-2" alt="" />
              <img src="/img/image3.png" class="image img-3" alt="" />
              <img src="/img/image4.png" class="image img-3" alt="" />
              <img src="/img/image5.png" class="image img-3" alt="" />
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Save Your Time!</h2>
                  <h2>Organize Your School!</h2>
                  <h2>Communicate With Parents Easily!</h2>
                </div>
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div>
        </div>

        <div style="display: none;" class="container-tabs">
            <!-- <form id="regForm" action=""> -->
              <div class="tab">

                
                <div class="verification-inner-box">
                  <div class="grid-item header">
                    <div class="grid-header header-logo">
                      <h1>Discipline Management System</h1>
                    </div>
                    <div class="grid-header header-left">
                      <p class="username-preview">
                        <i class="fa-solid fa-user" style="color: #000000;"></i>
                        <span>School Manager account name</span>
                      </p>
                    </div>
                  </div>
                  <div class="grid-item sidebar">
    redirectUser = (timer(redirectUser));
        
                    <div class="swiper mySwiper">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <img src="/img/image1.png" alt="">
                        </div>
                        <div class="swiper-slide">
                          <img src="/img/image2.png" alt="">
                        </div>
                        <div class="swiper-slide">
                          <img src="/img/image3.png" alt="">
                        </div>
                      </div>
                      <div class="swiper-pagination"></div>
                    </div>
        
        
                  </div>
                  <div class="grid-item main-content">
                    <p class="get-content">Choose how you want to get the verification code:</p>
                    <p class="choose-option">
                      <span>
                        <i class="fa-regular fa-envelope fa-bounce" style="color: #000000;"></i>
                        <span>
                          Get verification code at email
                          <br>
                          <span class="choose-description">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas iure quo, maiores eos quibusdam modi.
                            <span onclick="nextPrev(1)" class="action-code" data-receiver="ihope@gmail.com">Get code at :  ****************.com</span>
                          </span>
                        </span>
                      </span>
                    </p>
        
                    <p class="choose-option">
                      <span>
                        <i class="fa-regular fa-message fa-bounce" style="color: #000000;"></i>
                          <span>
                            Get verification code at phone number
                            <br>
                            <span class="choose-description">
                              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam omnis eius soluta minus nam quos dolores nobis temporibus cupiditate quia.
                              <span onclick="nextPrev(1)" class="action-code" data-receiver="0733179900">Get code at :  +250 78** *** *74</span>
                            </span>
                          </span>
                        </span>
                    </p>
        
                    <p class="choose-option">
                      <span>
                        <i class="fa-solid fa-phone fa-bounce"></i>
                          <span>
                            Get verification code at call
                            <br>
                            <span class="choose-description">
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe temporibus nemo, hic repellat nesciunt minima.
                              <span onclick="nextPrev(1)" class="action-code">Get called at :  +250 78** *** *74</span>
                            </span>
                          </span>
                        </span>
                    </p>
        
                    <button class="get-help-button"><i class="fa-regular fa-circle-question" style="color: #fff;"></i> Get Help</button>
                  </div>
                </div>




              </div>

              <div class="tab">

                <div class="verification-inner-box last-verification-page">         
                  <div class="informational-page">
                    <p class="school-manager-cont">
                      School Manager account name
                    </p>
  
                    <div class="information-message-container">
                      <p>
                        SMS text verification lets websites, apps, banks, and social networks double-check a user's identity. After entering your username and password, companies will send an SMS verification number to your smartphone. Use that number to complete your login. That's SMS verification. SMS verification goes by other names too.</p><br>
                      <p>SMS verification adds a layer of security to a login process, typically after a user has input their login details. This extra step of security allows businesses greater control over who accesses their platforms. A numeric or alphanumeric code that is texted or emailed to users to verify their identity.</p><br>
                      <p>The most common time frames are between 5 and 10 minutes. Depending on what your code is for, you can change the expiration times.</p>
                    </div>
                    <button class="help-button">Get help</button>
                  </div>
  
  
                  <div class="grid-item2 verifying-page">

                    <div class="header-content">
                      <h3>DMS Verification</h3>
                      <p>Enter 6 digits sent to +250 7** *** **8</p>
                    </div>
                    <div class="body-content">
                      <input type="number" id="verify-input" autofocus="true">
                      <input type="number" disabled id="verify-input" maxlength="1">
                      <input type="number" disabled id="verify-input">
                      <input type="number" disabled id="verify-input">
                      <input type="number" disabled id="verify-input">
                      <input type="number" disabled id="verify-input">
                    </div>
        
                    <p>Didn't receive verification code?</p> <button  class="resend-button">Re-send <span id="resend-seconds"></span ></button>
        
                    <div class="other-option">
                      <h3>Other option:</h3>
                      <span style="display: flex; align-items: center; margin-bottom: 20px;">
                        <button class="email-option">
                          <i class="fa-solid fa-envelope fa-bounce"></i>
                           Get verified via your E-mail address</button><span style="text-decoration: underline;">al*******************.com</span>
                      </span>
                      <span style="display: flex; justify-content: flex-start; align-items: center;">
                        <button class="email-option">
                          <i class="fa-solid fa-phone fa-bounce"></i>
                          Get verified via your Phone call</button><span style="text-decoration: underline;">+250 78* *** **7</span>
                      </span>
                    </div>
        
                    <button class="confirm-verify" id="test-button" onclick="nextPrev(1)" disabled>
                      <svg id="verifyLoader">
                        <circle cx="70" cy="70" r="10"></circle>
                    </svg>
                      <p id="VerifyingTxt">Verify</p><p id="verifyingloaderdots"></p></button>
        
                  </div>
                </div>

              </div>

              <div class="tab upload-profile-container">
                <div class="choose-profile-container">

                  <div class="main-loading-content">
                    <div class="container-loading">
                      <div class="loader-item main-loader-container">
                          <span> <svg>
                              <circle cx="70" cy="70" r="20"></circle>
                          </svg></span>
                      </div>
              
                      <div class="loader-item loader-content">
                          <!-- <p>Loading student information. Please wait</p> -->
                          <p id="displayer-screen"></p>
                      </div>
                    </div>
                  </div>

                  <div class="container disable">
                    <h2>Choose and Edit your profile picture</h2>
                    <div class="wrapper">
                        <div class="editor-panel">
                            <div class="filter">
                              <p class="title">Filters</p>
                                <div class="options">
                                    <button id="brightness" class="active">Brightness</button>
                                    <button id="saturation">Saturation</button>
                                    <button id="inversion">Inversion</button>
                                    <button id="grayscale">Grayscale</button>
                                </div>
                                <div class="slider">
                                    <div class="filter-info">
                                        <p class="name">Brighteness</p>
                                        <p class="value">100%</p>
                                    </div>
                                    <input type="range" value="100" min="0" max="200">
                                </div>
                            </div>
                            
                            <div class="rotate">
                              <p class="title">Rotate & Flip</p>
                                <div class="options">
                                    <button id="left"><i class="fa-solid fa-rotate-left"></i></button>
                                    <button id="right"><i class="fa-solid fa-rotate-right"></i></button>
                                    <button id="horizontal"><i class='bx bx-reflect-vertical'></i></button>
                                    <button id="vertical"><i class='bx bx-reflect-horizontal' ></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="preview-img">
                            <img src="/img/image-placeholder.svg" alt="preview-img">
                        </div>
                    </div>
                    <div class="controls">
                        <button class="reset-filter">Reset Filters</button>
                        <div class="row">
                            <input type="file" class="file-input" accept="image/*" hidden>
                            <button class="choose-img">Choose Image</button>
                            <button class="save-img" onclick="bringProfileAnimation()">Save Image</button>
                        </div>
                    </div>
                </div>

                <div class="choose-profile-bottom-container">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit nesciunt laborum consequatur explicabo nobis, deserunt consectetur doloribus sit, non fuga inventore nihil sed similique perferendis animi impedit quo vitae alias. Omnis dolores ipsam harum praesentium eos. Ullam, eius omnis placeat unde temporibus corporis cum, repellendus dolore quisquam sunt soluta, dolores debitis facere voluptatem eveniet vitae cupiditate numquam atque consequuntur nostrum? Facilis aperiam rem vero corrupti, fugiat veritatis laudantium optio sequi temporibus illum amet, at hic? Laborum doloribus maxime eaque nobis?</p>
                </div>

                </div>
              </div>

              <div class="tab">Login Info:
                <p><input placeholder="Username..." oninput="this.className = ''"></p>
                <p><input placeholder="Password..." oninput="this.className = ''"></p>
              </div>

              <!-- <div style="overflow:auto;">
                <div style="float:right;">
                  <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                  <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                </div>
              </div> -->
<!-- 
              <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
              </div> -->
            <!-- </form> -->
        </div>
      </div>

    <!-- Javascript file -->

    <script src="app.js"></script>
    <script src="validation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script>
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
          delay: 4500,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
  <script src="validation.js"></script>

