<div class="box">
    <!-- <div class="tab first-section">
       <div class="admin-basic-info">
            <div class="admin-main-info">
                <div class="skeleton skeleton-text"></div>
            </div>
            <div class="admin-profile">
                <div class="skeletons skeletons-text"></div>
                <div class="skeletons skeletons-text"></div>
                <div class="skeletons skeletons-text"></div>
                <div class="skeletons skeletons-text"></div>
                <br>
                <div class="skeletons skeletons-text"></div>
                <div class="skeletons skeletons-text"></div>
                <div class="skeletons skeletons-text"></div>
                <div class="skeletons skeletons-text"></div><br>
                <div class="skeletons skeletons-text"></div>
                <div class="skeletons skeletons-text"></div>
                <div class="skeletons skeletons-text"></div>
                <div class="skeletons skeletons-text"></div>
            </div>
       </div>
       <div class="admin-description-info">
            <div class="get-started-content">
                <p style="padding: 5px;border-radius: 4px;color: white; background-color: hsl(400, 20%, 80%); box-shadow: rgba(0,0,0,0.1) 0px 2px 4px 0px;"><span class="dms-introduction">school discipline management system,</span> also known as a discipline management software or system, is a tool or platform designed to help schools manage and maintain discipline, behavior, and conduct among students. It is used to streamline various aspects of disciplinary processes within an educational institution.</p><br>
                <p style="padding: 5px;border-radius: 4px;color: white; background-color: hsl(200, 20%, 80%); box-shadow: rgba(0,0,0,0.1) 0px 2px 4px 0px;">DMS Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dolore veritatis dolorum suscipit eaque cumque incidunt repudiandae architecto minus, laudantium mollitia, saepe odio deserunt, vitae laborum maxime maiores distinctio rerum molestias repellat explicabo libero rem magnam! Adipisci explicabo corrupti, cum cupiditate debitis nostrum voluptatem quas iusto repellat itaque, excepturi sint.</p><br>
                <p style="padding: 5px;border-radius: 4px;color: white; background-color: hsl(100, 20%, 80%); box-shadow: rgba(0,0,0,0.1) 0px 2px 4px 0px;">Discipline Management System isicing elit. Sit at accusantium sequi molestias, iste adipisci totam porro? Perferendis eaque doloremque repellendus ducimus mollitia sapiente error suscipit eum vero possimus? Rem neque eos laborum ratione eum officiis culpa quae commodi explicabo est perferendis aliquam vitae nisi mollitia, atque animi maiores blanditiis? Lorem ipsum dolor sit amet.</p><br>
            </div>
            <div class="get-started-button">
                <button onclick="nextPrev(1)">Agree Terms & Condition</button>
            </div>
       </div>
    </div> -->
   
    <div class="tab second-section">
        <div class="grid"></div>
        <div class="grid"></div>
    </div>
    <div class="tab">
        
    </div>
    <div class="tab">
        <p>this is the third tab</p>
    </div>
</div>


<script>
    var currentTab = 0;
    showTab(currentTab);

    function showTab(n) {
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "grid";
        if (n == 0) {
            document.getElementById("prevBtn").style.display = "none";
        } else {
            document.getElementById("prevBtn").style.display = "inline";
        }
        if (n == (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "Submit";
        } else {
            document.getElementById("nextBtn").innerHTML = "Next";
        }
        fixStepIndicator(n)
    }

    function nextPrev(n) {
        var x = document.getElementsByClassName("tab");
        x[currentTab].style.display = "none";
        currentTab = currentTab + n;
        showTab(currentTab);
    }
</script>