<div class="box">
    <!-- <div class="tab first-section">
       <div class="admin-basic-info">
            <div class="admin-main-info">
                <div class="skeleton skeleton-text"></div>
            </div>
            <div class="admin-profile">
                <div class="skeleton skeleton-text"></div>
            </div>
       </div>
       <div class="admin-description-info">
            <div class="get-started-content">
                
            </div>
            <div class="get-started-button">
                <button onclick="nextPrev(1)">Agree Terms & Condition</button>
            </div>
       </div>
    </div> -->
    
    <div class="tab second-section">
        <div class="grid-second">
            <div class="admin-main-info">
                <div class="skeleton skeleton-text"></div>
            </div>

            <div class="admin-profile">
                <div class="skeleton skeleton-text"></div>
            </div>
        </div>


        <div class="grid-seconds">

            <div class="min-tab min-first-tab">
                <div class="school-description">
                    <form>
                        <textarea placeholder="Describe your school by giving the general introduction of your school"></textarea>              
                    </form>

                    <div class="school-profile-picture">




                        <div class="container disable">
                            <h2>Choose and Edit your school profile picture</h2>
                            <div class="wrapper">
                                <div class="editor-panel">
                                    <div class="filter">
                                      <p class="title">Filters</p>
                                        <div class="options">
                                            <button id="brightness" class="active">Brightness</button>
                                            <button id="saturation">Saturation</button>
                                            <button id="inversion">Inversion</button>
                                            <button id="grayscale">Grayscale</button>
                                        </div>
                                        <div class="slider">
                                            <div class="filter-info">
                                                <p class="name">Brighteness</p>
                                                <p class="value">100%</p>
                                            </div>
                                            <input type="range" value="100" min="0" max="200">
                                        </div>
                                    </div>
                                    
                                    <div class="rotate">
                                      <p class="title">Rotate & Flip</p>
                                        <div class="options">
                                            <button id="left"><i class="fa-solid fa-rotate-left"></i></button>
                                            <button id="right"><i class="fa-solid fa-rotate-right"></i></button>
                                            <button id="horizontal"><i class='bx bx-reflect-vertical'></i></button>
                                            <button id="vertical"><i class='bx bx-reflect-horizontal' ></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="preview-img">
                                    <img src="/img/image-placeholder.svg" alt="preview-img">
                                </div>
                            </div>
                            <div class="controls">
                                <button class="reset-filter">Reset Filters</button>
                                <div class="row">
                                    <input type="file" class="file-input" accept="image/*" hidden>
                                    <button class="choose-img">Choose Image</button>
                                    <button class="save-img" onclick="next(1)">Next</button>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <div class="min-tab" style="padding: 10px;">
                <p><span onclick="next(-1)" style="margin-right: 1rem;" id="prev">Prev</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio consequatur quaerat voluptates vitae atque repellat necessitatibus ipsa laborum, a velit quis voluptatibus. Beatae, a perspiciatis impedit soluta, dignissimos enim tenetur modi esse ipsam exercitationem quaerat odio aspernatur culpa fuga provident. Quae facere necessitatibus dicta eius. Eveniet quaerat vitae quod ipsa laudantium esse deserunt corporis. Ea fugiat similique quod dolore, consequuntur eligendi dolorem eaque at, dicta ratione eum excepturi est repellendus. Rerum dolorem expedita, placeat voluptatem, illo non, nihil ipsa doloremque alias ex nisi quibusdam distinctio ratione eligendi eos beatae harum suscipit vitae facilis? Est dolores voluptates dolorem vero quas ipsam optio sint velit quo eius quaerat commodi qui accusamus et fugit expedita, corporis inventore similique aliquam nostrum fugiat quia quasi. Enim porro dignissimos ipsum qui deleniti aliquam cumque quia facilis quo nihil alias ab ut tempore nulla saepe mollitia, adipisci eos illo impedit itaque iusto earum explicabo neque natus! Reprehenderit dolore, ipsam rerum rem cupiditate neque voluptas ex modi iste.</p>
                <p>second tab</p>
                <button id="next" onclick="next(1)">next</button>
            </div>
            <div class="min-tab" style="padding: 10px;">
                <p><span onclick="next(-1)" style="margin-right: 1rem;" id="prev">Prev</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio consequatur quaerat voluptates vitae atque repellat necessitatibus ipsa laborum, a velit quis voluptatibus. Beatae, a perspiciatis impedit soluta, dignissimos enim tenetur modi esse ipsam exercitationem quaerat odio aspernatur culpa fuga provident. Quae facere necessitatibus dicta eius. Eveniet quaerat vitae quod ipsa laudantium esse deserunt corporis. Ea fugiat similique quod dolore, consequuntur eligendi dolorem eaque at, dicta ratione eum excepturi est repellendus. Rerum dolorem expedita, placeat voluptatem, illo non, nihil ipsa doloremque alias ex nisi quibusdam distinctio ratione eligendi eos beatae harum suscipit vitae facilis? Est dolores voluptates dolorem vero quas ipsam optio sint velit quo eius quaerat commodi qui accusamus et fugit expedita, corporis inventore similique aliquam nostrum fugiat quia quasi. Enim porro dignissimos ipsum qui deleniti aliquam cumque quia facilis quo nihil alias ab ut tempore nulla saepe mollitia, adipisci eos illo impedit itaque iusto earum explicabo neque natus! Reprehenderit dolore, ipsam rerum rem cupiditate neque voluptas ex modi iste.</p>
                <p>second tab</p>
                <button id="next" onclick="next(1)">next</button>
            </div>
            <div class="min-tab" style="padding: 10px;">
                <p><span onclick="next(-1)" style="margin-right: 1rem;" id="prev">Prev</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio consequatur quaerat voluptates vitae atque repellat necessitatibus ipsa laborum, a velit quis voluptatibus. Beatae, a perspiciatis impedit soluta, dignissimos enim tenetur modi esse ipsam exercitationem quaerat odio aspernatur culpa fuga provident. Quae facere necessitatibus dicta eius. Eveniet quaerat vitae quod ipsa laudantium esse deserunt corporis. Ea fugiat similique quod dolore, consequuntur eligendi dolorem eaque at, dicta ratione eum excepturi est repellendus. Rerum dolorem expedita, placeat voluptatem, illo non, nihil ipsa doloremque alias ex nisi quibusdam distinctio ratione eligendi eos beatae harum suscipit vitae facilis? Est dolores voluptates dolorem vero quas ipsam optio sint velit quo eius quaerat commodi qui accusamus et fugit expedita, corporis inventore similique aliquam nostrum fugiat quia quasi. Enim porro dignissimos ipsum qui deleniti aliquam cumque quia facilis quo nihil alias ab ut tempore nulla saepe mollitia, adipisci eos illo impedit itaque iusto earum explicabo neque natus! Reprehenderit dolore, ipsam rerum rem cupiditate neque voluptas ex modi iste.</p>
                <p>second tab</p>
                <button id="next" onclick="next(1)">next</button>
            </div>
            <div class="min-tab" style="padding: 10px;">
                <p><span onclick="next(-1)" style="margin-right: 1rem;" id="prev">Prev</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio consequatur quaerat voluptates vitae atque repellat necessitatibus ipsa laborum, a velit quis voluptatibus. Beatae, a perspiciatis impedit soluta, dignissimos enim tenetur modi esse ipsam exercitationem quaerat odio aspernatur culpa fuga provident. Quae facere necessitatibus dicta eius. Eveniet quaerat vitae quod ipsa laudantium esse deserunt corporis. Ea fugiat similique quod dolore, consequuntur eligendi dolorem eaque at, dicta ratione eum excepturi est repellendus. Rerum dolorem expedita, placeat voluptatem, illo non, nihil ipsa doloremque alias ex nisi quibusdam distinctio ratione eligendi eos beatae harum suscipit vitae facilis? Est dolores voluptates dolorem vero quas ipsam optio sint velit quo eius quaerat commodi qui accusamus et fugit expedita, corporis inventore similique aliquam nostrum fugiat quia quasi. Enim porro dignissimos ipsum qui deleniti aliquam cumque quia facilis quo nihil alias ab ut tempore nulla saepe mollitia, adipisci eos illo impedit itaque iusto earum explicabo neque natus! Reprehenderit dolore, ipsam rerum rem cupiditate neque voluptas ex modi iste.</p>
                <p>second tab</p>
                <button id="next" onclick="next(1)">next</button>
            </div>
            <div class="min-tab" style="padding: 10px;">
                <p>Last tab</p>
                <p><span onclick="next(-1)" style="margin-right: 1rem;" id="prev">Prev</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati debitis ad dolorem tempora illum ipsum delectus iste deserunt! Incidunt, itaque! Praesentium quos, earum impedit eaque blanditiis incidunt dolorem unde, nostrum sequi totam nulla quam porro excepturi magnam possimus! Fugiat amet sapiente expedita autem error officiis sed quas odio, nihil doloribus quasi officia odit reiciendis similique tempore praesentium modi dolorum vel excepturi quaerat, ex magnam culpa dolorem. Facere aspernatur eveniet perspiciatis, obcaecati sapiente tempora ab nesciunt itaque, eius dolorem velit atque expedita laborum quasi! Ipsa sapiente delectus odio recusandae excepturi harum eligendi beatae, doloremque laborum, maxime porro deserunt sed modi et ea suscipit consectetur at obcaecati laudantium iste commodi deleniti magnam hic! Quas ducimus impedit nobis, provident similique consequuntur assumenda. Impedit, vitae laborum quia nulla eligendi enim voluptate excepturi aliquid, sunt ipsum recusandae dolor error possimus perspiciatis quos veniam voluptates nemo saepe ipsa quasi. Aperiam vitae odit ab voluptas modi. Eligendi magnam quisquam, voluptatibus iusto sint fugiat temporibus, obcaecati, cupiditate in ullam eius cumque numquam ab architecto eum ad reprehenderit. Magnam adipisci velit quisquam consequatur libero voluptate alias eos provident qui.</p>
                <button id="next" onclick="next(1)">next</button>
            </div>

        </div>
    </div>
    <div class="tab">
        
    </div>
    <div class="tab">
        <p>this is the third tab</p>
    </div>
</div>

<script>

</script>
