<div class="box">
    <div class="tab first-section"></div>
    <div class="tab second-section">
        <div class="grid"></div>
        <div class="grid"></div>
    </div>
    <div class="tab">
        
    </div>
    <div class="tab">
        <p>this is the third tab</p>
    </div>
</div>


<script>
    var currentTab = 0;
    showTab(currentTab);

    function showTab(n) {
    var x = document.getElementsByClassName("tab");
    x[n].style.display = "grid";
    if (n == 0) {
        document.getElementById("prevBtn").style.display = "none";
    } else {
        document.getElementById("prevBtn").style.display = "inline";
    }
    if (n == (x.length - 1)) {
        document.getElementById("nextBtn").innerHTML = "Submit";
    } else {
        document.getElementById("nextBtn").innerHTML = "Next";
    }
    fixStepIndicator(n)
    }

    function nextPrev(n) {
    var x = document.getElementsByClassName("tab");
    x[currentTab].style.display = "none";
    currentTab = currentTab + n;
    if (currentTab >= x.length) {
        document.getElementById("regForm").submit();
        return false;
    }
    showTab(currentTab);
    }



</script>