
<div id="grand-main-header">
    <nav>
        <ul>
            <li class="dms-header-title">DMS</li>
            <li>About DMS</li>
            <li>Contact Us</li>
            <li>Search</li>
            <li class="dms-header-help">Help</li>
            <li class="dms-header-login-link">Get Started</li>
        </ul>
    </nav>
</div>

<div id="grand-main-body">
    <div class="introduction-slide-container">
      <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper">
        <div class="parallax-bg" style="
              background-image: url('/public/img/nature.png');
            " data-swiper-parallax="-23%"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="title" data-swiper-parallax="-300">Slide 1</div>
            <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
            <div class="text" data-swiper-parallax="-100">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                tincidunt ut libero. Aenean feugiat non eros quis feugiat.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="title" data-swiper-parallax="-300">Slide 2</div>
            <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
            <div class="text" data-swiper-parallax="-100">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                tincidunt ut libero. Aenean feugiat non eros quis feugiat.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="title" data-swiper-parallax="-300">Slide 3</div>
            <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
            <div class="text" data-swiper-parallax="-100">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                tincidunt ut libero. Aenean feugiat non eros quis feugiat.
              </p>
            </div>
          </div>
    
          <div class="swiper-slide">
            <div class="title" data-swiper-parallax="-300">Slide 3</div>
            <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
            <div class="text" data-swiper-parallax="-100">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                tincidunt ut libero. Aenean feugiat non eros quis feugiat.
              </p>
            </div>
          </div>
    
          <div class="swiper-slide">
            <div class="title" data-swiper-parallax="-300">Slide 3</div>
            <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
            <div class="text" data-swiper-parallax="-100">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                tincidunt ut libero. Aenean feugiat non eros quis feugiat.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h1>Discipline Management System</h1>
    <div class="dms-description">
      <div class="dms-description-left-content">
        <h2>DMS</h2>
        <p>Welcome to Discipline Management System, a cutting-edge solution designed to transform how schools manage discipline and behavior.</p>
        <p>In Discipline Management System, our mission is to empower schools with the tools they need to create safer, more orderly, and more productive learning environments. We believe that effective discipline management is essential for student success and school safety.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis dolor adipisci fugit saepe eveniet laborum non eligendi quo tempore id aspernatur obcaecati nobis possimus quod magnam autem voluptate neque cupiditate dolorum a, assumenda repellat quaerat porro. Iusto expedita molestias voluptatem vero fugiat, eaque nemo optio neque ad ea, exercitationem earum.</p>
      </div>
      <div class="dms-description-right-content">
        <h2>DMS</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae quasi nemo voluptas vero quidem neque accusamus perspiciatis aut, blanditiis qui quaerat eaque deleniti deserunt in? Distinctio, illum temporibus. Omnis, ipsam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio dolore nisi dignissimos nesciunt ad expedita, suscipit placeat rerum deleniti eos?</p>
      </div>
    </div>

    <!-- ------- DMS Feature ------------ -->

    <div class="dms-features">
      <h2>DMS Core Features</h2>
      <div class="features-container">
        <div class="feature-container">
          <h3>Incident Reporting</h3>
          <p>Teachers and staff can submit incident reports electronically, making it easier to keep a detailed record of disciplinary issues and provide administrators with timely information.</p>
        </div>
        <div class="feature-container">
          <h3>Communication and Alerts</h3>
          <p>DMS often include features for sending notifications and alerts to parents, teachers, and administrators regarding disciplinary incidents. This ensures that all stakeholders are aware of the situation.</p>
        </div>
        <div class="feature-container">
          <h3>Data Analysis and Reporting</h3>
          <p>DMS can analyze discipline data over time to identify trends and patterns in student behavior. This helps schools make informed decisions and implement preventive measures.</p>
        </div>
        <div class="feature-container">
          <h3>Intervention Planning</h3>
          <p>DMS assist in creating intervention plans for students who repeatedly engage in misbehavior. These plans may include counseling, mentoring, or additional support to address the root causes of the behavior.</p>
        </div>
        <div class="feature-container">
          <h3>Documentation and Accountability</h3>
          <p>DMS help in maintaining a detailed and standardized record of disciplinary actions taken, ensuring transparency and accountability in the disciplinary process.</p>
        </div>
        <div class="feature-container">
          <h3>Parental Involvement</h3>
          <p>DMS enable better communication with parents or guardians, allowing them to be informed about their child's behavior and any actions taken by the school to address it.</p>
        </div>
        <div class="feature-container">
          <h3>Legal Compliance</h3>
          <p>DMS help schools adhere to legal requirements by ensuring that disciplinary actions are in compliance with state and federal laws.</p>
        </div>
        <div class="feature-container">
          <h3>Streamlined Discipline Management</h3>
          <p>Our system simplifies the process of reporting, tracking, and resolving disciplinary incidents, saving schools time and resources.</p>
        </div>
        <div class="feature-container">
          <h3>Comprehensive Documentation</h3>
          <p>Say goodbye to inconsistent record-keeping. Our system maintains a transparent, organized, and comprehensive disciplinary record.</p>
        </div>
      </div>
    </div>

    <!-- ------- Before and After using DMS ------------ -->
    <div class="dms-school-comparation">
      <div class="school-before">
        <h2>Before Using Our System</h2>
        <h3>Inconsistent record-keeping</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam modi deleniti, cumque labore aut vero accusamus minima quos atque? Maxime pariatur est neque quo excepturi.</p>

        <h3>Delayed responses to disciplinary incidents</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptate cumque est obcaecati ab adipisci temporibus quae dolor numquam? Veniam fugit aperiam dicta saepe dolorum.</p>

        <h3>Difficulties in monitoring student behavior</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ea ipsa laborum ex odio autem tempora voluptate dignissimos error praesentium. Suscipit expedita eligendi dicta voluptates.</p>
        
        <h3>Time-Consuming Processes</h3>
        <p>Emphasize the time-consuming nature of traditional paper-based or manual discipline management methods. Mention the burden on administrators, teachers, and staff who have to handle disciplinary matters manually.</p>

        <h3>Lack of Transparency</h3>
        <p>The lack of transparency and visibility, which often leads to confusion and disputes among stakeholders. Explain how disputes between students, parents, and school staff can escalate without clear documentation.</p>

        <h3>Parental Disconnection</h3>
        <p>Mention how parents might feel disconnected from their child's school experience without a system that provides them with insight into disciplinary matters. This can lead to misunderstandings and a lack of collaboration between schools and parents.</p>
      </div>
      <div class="school-after">
        <h2>Your school after DMS</h2>

        <h3>Efficient Incident Reporting</h3>
        <p>Highlight how your system streamlines the incident reporting process. Administrators can easily record and track disciplinary incidents, reducing paperwork and saving time.</p>

        <h3>Faster Response Times</h3>
        <p>Explain that your system facilitates quicker responses to disciplinary issues. With automated notifications and workflows, administrators can take immediate action, ensuring a safer and more orderly school environment.</p>

        <h3>Improved Communication</h3>
        <p>Describe how the system enhances communication among students, parents, and school staff. Parents can be notified of incidents in real-time, fostering a collaborative approach to addressing discipline concerns.</p>

        <h3>Data-Driven Decision-Making</h3>
        <p>Emphasize the power of data analytics and reporting features. Schools can use the system's insights to identify patterns, trends, and areas that require intervention, allowing for evidence-based decision-making.</p>

        <h3>Customization and Integration</h3>
        <p>Explain any customization options and integration capabilities, allowing the system to adapt to the unique needs of each school.</p>

        <h3>Secure and Accessible</h3>
        <p>Mention the security and accessibility features of your system. Stress how it ensures the privacy and protection of sensitive disciplinary information while allowing authorized personnel to access it conveniently.</p>
      </div>
    </div>

    <!-- ------- Testimonies ------------ -->

    <div class="dms-testimonies">
      <h2>Testimonies</h2>
      <div class="dms-testimonies-container">
        <div class="dms-testimony"></div>
        <div class="dms-testimony"></div>
        <div class="dms-testimony"></div>
        <div class="dms-testimony"></div>
      </div>
    </div>

    <!-- ------- About us section ------------ -->

    <div class="dms-about-section">
      <h2>About Us</h2>
      <div class="dms-about-us">
        <div class="dms-welcome">
          <h2>Welcome to Discipline Management System</h2>
          <!-- <p>Discipline management system , a cutting-edge solution designed to transform how schools manage discipline and behavior.</p> -->
          <P>Discipline Management System , a cutting-edge platform dedicated to transforming the landscape of school discipline management. Our passion lies in leveraging technology to create a positive and conducive learning environment for students and educators alike. With a commitment to excellence and innovation, we've developed a comprehensive system that redefines the way schools approach and manage discipline.</P>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum error ea, veritatis impedit a officia quisquam deserunt dicta labore odio hic voluptas cupiditate maxime consequuntur cumque id voluptatem voluptatibus dolor suscipit facilis atque beatae quo. Eius et ducimus quam corrupti.</p> -->
        </div>
        <div class="dms-welcome-content">
          <h2>Our Missions</h2>
          <p>At [Your Company Name], our mission is to empower schools with the tools they need to create safer, more orderly, and more productive learning environments. We believe that effective discipline management is essential for student success and school safety.</p>
          <p>Our mission is clear: to empower educational institutions with a robust and user-friendly discipline management solution that fosters a culture of respect, responsibility, and fairness. We envision a future where schools can seamlessly address disciplinary matters, allowing educators to focus on what they do best – educating and inspiring the next generation. Our commitment extends beyond software; it's about nurturing a harmonious school environment that lays the foundation for lifelong success.</p>
        </div>
      </div>

      <div class="dms-about-features">

        <div class="dms-core-values">
          <h3>DMS Core values</h3>
          <p>Our core values form the backbone of [Your Company Name]. Integrity, collaboration, and innovation are at the heart of everything we do. We believe in transparency in communication, working collaboratively with educators and administrators, and continually innovating to stay ahead of the evolving needs of the education sector. By upholding these values, we aim to build trust and lasting partnerships with schools committed to creating a positive and nurturing learning atmosphere.</p>
        </div>

        <div class="dms-unique-feature">
          <h3>Our Unique Features</h3>
          <p>What sets [Your Company Name] apart is our dedication to providing a feature-rich discipline management system. From intuitive user interfaces to real-time data analytics, our platform empowers schools to make informed decisions efficiently. Automated incident reporting, customizable workflows, and seamless communication channels ensure that educators and administrators can address disciplinary issues promptly and effectively, fostering a safe and respectful learning environment for all.</p>
        </div>

        

      </div>
    </div>

</div>





<div id="grand-main-footer">
    <div class="grid-footer-container">
        <div class="contents">
            <ul>
                <li><h2>Discover</h2></li>
                <li>Getting Started</li>
                <li>Features</li>
                <li>Demos</li>
                <li>SDK</li>
            </ul>
        </div>
        <div class="contents">
            <ul>
                <li><h2>Divelop</h2></li>
                <li>Developer guide</li>
                <li>DMS References</li>
                <li>Glossary</li>
                <li>Blog</li>
                <li>Pricing</li>
            </ul>
        </div>
        <div class="contents">
            <ul>
                <li><h2>Support</h2></li>
                <li>Forums</li>
                <li>Recognition assets</li>
                <li>Knowledge</li>
                <li>Blog</li>
                <li>Pricing</li>
            </ul>
        </div>
    
        <div class="contents">
            <ul>
                <li><h2>About</h2></li>
                <li>DMS</li>
                <li>Interactive links</li>
                <li>Knowledge</li>
                <li>Blog</li>
                <li>Pricing</li>
            </ul>
        </div>
    </div>

    <div class="footer" style="display: flex; justify-content: center; align-items: center; flex-direction: column; font-size: 12px; padding-top: 5rem; color: #666;">
        <p>Copyright &copy; DMS &bull; All rights reserved</p>
        <p>Legal notice &bull; Privacy police &bull;  Credit notice</p>
        <p>Terms of use of the DMS Software and Services</p>
    </div>
</div>
