
<div id="grand-main-header">
    <nav>
        <ul>
            <li class="dms-header-title">DMS</li>
            <li>About DMS</li>
            <li>Contact Us</li>
            <li>Search</li>
            <li class="dms-header-help">Help</li>
            <li class="dms-header-login-link">Get Started</li>
        </ul>
    </nav>
</div>

<div id="grand-main-body">
    <div class="introduction-slide-container">
      <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper">
        <div class="parallax-bg" style="
              background-image: url('/public/img/nature.png');
            " data-swiper-parallax="-23%"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="title" data-swiper-parallax="-300">Slide 1</div>
            <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
            <div class="text" data-swiper-parallax="-100">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                tincidunt ut libero. Aenean feugiat non eros quis feugiat.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="title" data-swiper-parallax="-300">Slide 2</div>
            <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
            <div class="text" data-swiper-parallax="-100">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                tincidunt ut libero. Aenean feugiat non eros quis feugiat.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="title" data-swiper-parallax="-300">Slide 3</div>
            <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
            <div class="text" data-swiper-parallax="-100">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                tincidunt ut libero. Aenean feugiat non eros quis feugiat.
              </p>
            </div>
          </div>
    
          <div class="swiper-slide">
            <div class="title" data-swiper-parallax="-300">Slide 3</div>
            <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
            <div class="text" data-swiper-parallax="-100">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                tincidunt ut libero. Aenean feugiat non eros quis feugiat.
              </p>
            </div>
          </div>
    
          <div class="swiper-slide">
            <div class="title" data-swiper-parallax="-300">Slide 3</div>
            <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
            <div class="text" data-swiper-parallax="-100">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                tincidunt ut libero. Aenean feugiat non eros quis feugiat.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    .
</div>














<div id="grand-main-footer">
    <div class="grid-footer-container">
        <div class="contents">
            <ul>
                <li><h2>Discover</h2></li>
                <li>Getting Started</li>
                <li>Features</li>
                <li>Demos</li>
                <li>SDK</li>
            </ul>
        </div>
        <div class="contents">
            <ul>
                <li><h2>Divelop</h2></li>
                <li>Developer guide</li>
                <li>DMS References</li>
                <li>Glossary</li>
                <li>Blog</li>
                <li>Pricing</li>
            </ul>
        </div>
        <div class="contents">
            <ul>
                <li><h2>Support</h2></li>
                <li>Forums</li>
                <li>Recognition assets</li>
                <li>Knowledge</li>
                <li>Blog</li>
                <li>Pricing</li>
            </ul>
        </div>
    
        <div class="contents">
            <ul>
                <li><h2>About</h2></li>
                <li>DMS</li>
                <li>Interactive links</li>
                <li>Knowledge</li>
                <li>Blog</li>
                <li>Pricing</li>
            </ul>
        </div>
    </div>

    <div class="footer" style="display: flex; justify-content: center; align-items: center; flex-direction: column; font-size: 12px; padding-top: 5rem; color: #666;">
        <p>Copyright &copy; DMS. All rights reserved</p>
        <p>Legal notice . Privacy police .  Credit notice</p>
        <p>Terms of use of the DMS Software and Services</p>
    </div>
</div>
