<div id="grand-main-header">
    <nav>
        <ul>
            <li class="dms-header-title">DMS</li>
            <li>About DMS</li>
            <li>Contact Us</li>
            <li>Search</li>
            <li class="dms-header-help">Help</li>
            <li class="dms-header-login-link">Get Started</li>
        </ul>
    </nav>
</div>

<div id="grand-main-body">
    <h1>Getting Started</h1>
    <p>Discipline Management system ipsum, dolor sit amet consectetur adipisicing elit. Quaerat corrupti illo quo fugiat?</p>
    <p style="margin-bottom: 2rem;">DMS Lorem ipsum dolor sit amet.</p>

    <div class="example-container">
        <h2>1. Select a platform</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro quis aut, placeat quae minus nam aliquid voluptas vero blanditiis totam beatae rerum sint nisi animi accusantium provident cum ipsum! Ipsam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quia, tempora soluta quisquam nihil labore molestias perferendis hic quaerat repellendus id. Consequatur tenetur reprehenderit id soluta aut nisi similique porro necessitatibus nesciunt tempore excepturi unde eaque eos harum saepe molestiae, aliquid eius! Nesciunt cum, sapiente quam molestiae reiciendis illum neque!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptatibus eos tempora suscipit voluptate modi maxime fugiat architecto vitae quibusdam.</p>
    </div>

    <div class="example-container">
        <h2>2. Get your certificate</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro quis aut, placeat quae minus nam aliquid voluptas vero blanditiis totam beatae rerum sint nisi animi accusantium provident cum ipsum! Ipsam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quia, tempora soluta quisquam nihil labore molestias perferendis hic quaerat repellendus id. Consequatur tenetur reprehenderit id soluta aut nisi similique porro necessitatibus nesciunt tempore excepturi unde eaque eos harum saepe molestiae, aliquid eius! Nesciunt cum, sapiente quam molestiae reiciendis illum neque!</p>
    </div>

    <div class="example-container">
        <h2>3. Collaborate with friends</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro quis aut, placeat quae minus nam aliquid voluptas vero blanditiis totam beatae rerum sint nisi animi accusantium provident cum ipsum! Ipsam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quia, tempora soluta quisquam nihil labore molestias perferendis hic quaerat repellendus id. Consequatur tenetur reprehenderit id soluta aut nisi similique porro necessitatibus nesciunt tempore excepturi unde eaque eos harum saepe molestiae, aliquid eius! Nesciunt cum, sapiente quam molestiae reiciendis illum neque!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptatibus eos tempora suscipit voluptate modi maxime fugiat architecto vitae quibusdam.</p>
    </div>
</div>

<div id="grand-main-footer">
    <div class="grid-footer-container">
        <div class="contents">
            <ul>
                <li><h2>Discover</h2></li>
                <li>Getting Started</li>
                <li>Features</li>
                <li>Demos</li>
                <li>SDK</li>
            </ul>
        </div>
        <div class="contents">
            <ul>
                <li><h2>Divelop</h2></li>
                <li>Developer guide</li>
                <li>DMS References</li>
                <li>Glossary</li>
                <li>Blog</li>
                <li>Pricing</li>
            </ul>
        </div>
        <div class="contents">
            <ul>
                <li><h2>Support</h2></li>
                <li>Forums</li>
                <li>Recognition assets</li>
                <li>Knowledge</li>
                <li>Blog</li>
                <li>Pricing</li>
            </ul>
        </div>
    
        <div class="contents">
            <ul>
                <li><h2>About</h2></li>
                <li>DMS</li>
                <li>Interactive links</li>
                <li>Knowledge</li>
                <li>Blog</li>
                <li>Pricing</li>
            </ul>
        </div>
    </div>

    <div class="footer" style="display: flex; justify-content: center; align-items: center; flex-direction: column; font-size: 12px; padding-top: 5rem; color: #666;">
        <p>Copyright &copy; DMS. All rights reserved</p>
        <p>Legal notice . Privacy police .  Credit notice</p>
        <p>Terms of use of the DMS Software and Services</p>
    </div>
</div>

