@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
html{
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root{
    --mainBlueColor: rgb(0, 128, 255);
    --mainBlueHoverColor: dodgerblue;
    --mainBackgroundColor: #dddddd6c;
    --mainWhitebackgroundColor: white;
    --mainBoxShadow: rgba(0,0,0,0.2) 1px 4px 10px 1px;
    --mainBoxShadowHeader: rgba(0,0,0,0.3) 0px 0px 16px 0px;
  }

/* ------------ Header Section ---------- */

#grand-main-header{
    position: fixed;
    width: 100%;
    height: auto;
    max-height: 65px;
    padding: 6px 40px;
    box-shadow: var(--mainBoxShadowHeader);
    background-color: var(--mainWhitebackgroundColor);
    z-index: 99;
}



#grand-main-header nav ul{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#grand-main-header nav ul li{
    display: inline-block;
}

.dms-header-title{
    margin-right: 25%;
    font-size: 30px;
    font-weight: 550;
}

.dms-header-help{
    margin-right: 25%;
}

.dms-header-login-link{
    background-color: var(--mainBlueColor);
    color: white;
    padding: 8px 30px;
    border-radius: 4px;
}

.dms-header-login-link:hover{
    cursor: pointer;
    background-color: var(--mainBlueHoverColor);
}

/* ------------ Body Section ---------- */

#grand-main-body{
    width: 100%;
    padding: 80px 10px 20px;
    background-color: var(--mainBackgroundColor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.introduction-slide-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}

.swiper {
    width: 100%;
    height: 100%;
    background: var(--mainWhitebackgroundColor);
    box-shadow: var(--mainBoxShadow);
  }

  .swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
  }

  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
  }

  .swiper-slide .subtitle {
    font-size: 21px;
  }

  .swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
  }


  .dms-description{
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 100px;
    gap: 20px;
  }

  .dms-description-left-content{
    flex-shrink: 2;
    background-color: var(--mainWhitebackgroundColor);
    box-shadow: var(--mainBoxShadow);
    border-radius: 4px;
    padding: 20px;
  }

  .dms-description-left-content p{
    margin-bottom: 1rem;
    line-height: 25px;
  }
  .dms-description-right-content{
    flex-grow: 1;
    width: 40%;
  }

  .dms-description-left-content p{
    margin-bottom: 1rem;
    line-height: 25px;
  }

  .dms-features{
    width: 100%;
    min-height: 400px;
    height: auto;
  }

  .dms-features h2{
    margin-bottom: 1rem;
    text-align: center;
  }

  .features-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 100%;
    padding: 30px;
    gap: 20px;
  }

  .feature-container{
    background-color: var(--mainWhitebackgroundColor);
    box-shadow: var(--mainBoxShadow);
    border-radius: 4px;
    width: 100%;
    min-height: 220px;
    padding: 50px;
  }

  .dms-school-comparation{
    width: 100%;
    height: auto;
    min-height: 300px;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
  }

  .school-before, .school-after{
    background-color: var(--mainWhitebackgroundColor);
    box-shadow: var(--mainBoxShadow);
    padding: 20px;
  }

  .school-before h2, .school-after  h2{
    text-align: center;
    font-weight: 550;
    margin-top: 1px;
    margin-bottom: 1rem;
  }

  .school-before p, .school-after  p{
    margin-bottom: 1rem;
  }

  .dms-testimonies{
    padding: 60px;
    width: 100%;
  }

  .dms-testimonies h2{
    text-align: center;
    margin-bottom: 2rem;
  }

  .dms-testimonies-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
  }

  .dms-testimony{
    background-color: var(--mainWhitebackgroundColor);
    box-shadow: var(--mainBoxShadow);
    border-radius: 4px;
    min-height: 300px;
  }

  .dms-about-section{
    width: 100%;
    padding: 30px;
  }

  .dms-about-section h2{
    margin-bottom: 2rem;
    text-align: center;
  }

  .dms-about-us{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
  }

  .dms-welcome{
    flex-grow: 1;
  }

  .dms-welcome-content{
    flex-shrink: 0;
    background-color: var(--mainWhitebackgroundColor);
    box-shadow: var(--mainBoxShadow);
    min-height: 400px;
    width: 70%;
    border-radius: 4px;
    padding: 30px;
  }

  .dms-welcome-content p{
    margin-bottom: 1rem;
  }

  .dms-about-features{
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .dms-core-values{
    background-color: var(--mainWhitebackgroundColor);
    box-shadow: var(--mainBoxShadow);
    min-height: 300px;
    padding: 30px;
  }

  .dms-unique-feature{
    background-color: var(--mainWhitebackgroundColor);
    box-shadow: var(--mainBoxShadow);
    /* min-height: 300px; */
    height: auto;
    padding: 30px;
  }

  .dms-meet-team{
    width: 100%;
    height: auto;
    background-color: var(--mainWhitebackgroundColor);
    box-shadow: var(--mainBoxShadow);
    padding: 30px;
    margin-bottom: 2rem;
  }

  .dms-meet-team h3{
    margin-bottom: 1rem;
  }

  .dms-meet-team p{
    margin-bottom: 1rem;
  }

  .dms-meet-team button{
    background-color: var(--mainBlueColor);
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 3px;
  }

  .dms-contact-us{
    width: 100%;
    padding: 30px;
  }

  .contact-us{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 100%;
  }

  .contact-us-form{
    /* background-color: var(--mainWhitebackgroundColor); */
    box-shadow: var(--mainBoxShadow);
    min-height: 300px;
    background-color: var(--mainWhitebackgroundColor);
    /* background-image: url('/img/MainBackground.png'); */
    display: flex;
    gap: 20px;
  }


  .contact-main-form{
    flex-shrink: 8;
    padding: 20px;
    width: 60%;
  }

  .contact-main-form form{
    display: grid;
  }

  .contact-main-form input{
    padding: 8px 15px;
    margin-bottom: 1rem;
    border: 1px solid #aaa;
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
  }

.address-label {
    position: absolute;
    margin-top: 10px;
    margin-left: -645px;
    pointer-events: none;
    transition: .3s;
}

.address-input:focus ~ .address-label,
.address-input:valid ~ .address-label,
.address-input:not([value=""]) ~ .address-label {
    font-size: 15px;
    margin-top: -15px;
    margin-left: -660px;
    background-color: white;
    padding: 0 2px 0 2px;
}

  .contact-main-form input:focus, .contact-main-form textarea:focus{
    border: none;
    outline: 2px solid #aaa;
  }

  .contact-main-form textarea{
    width: 100%;
    min-height: 100px;
    margin-bottom: 1rem;
    resize: none;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 3px;
  }

  .contact-main-form button{
    max-width: 300px;
    padding: 8px 15px;
    font-size: 16px;
    background-color: var(--mainBlueColor);
    color: white;
    border: none;
    border-radius: 3px;

  }



  .contact-main-address{
    flex-grow: 1;
    width: 40%;
    padding: 20px;
  }

  .contact-main-address h3{
    margin-bottom: .5rem;
  }

  .cont-address{
    width: 100%;
    height: auto;
    display: grid;
    
  }

  .address-dms{
    display: flex;
    margin-bottom: .8rem;
  }

  .address-dms img{
    margin-right: .5rem;
  }


#grand-main-footer{
    padding: 50px 300px 50px 300px;
    background-color: var(--mainBackgroundColor);
}

.grid-footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.contents ul{
    margin: 0;
    padding: 10px;
    list-style-type: none;
}

.contents h2{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1rem;   
}
.contents ul li{
    font-size: 13px;
    color: #444;
}


