@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
html{
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* ------------ Header Section ---------- */

#grand-main-header{
    position: fixed;
    width: 100%;
    height: auto;
    max-height: 65px;
    padding: 6px 40px;
    box-shadow: rgba(0,0,0,0.3) 0px 0px 16px 0px;
    background-color: white;
}



#grand-main-header nav ul{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#grand-main-header nav ul li{
    display: inline-block;
}

.dms-header-title{
    margin-right: 25%;
    font-size: 30px;
    font-weight: 550;
}

.dms-header-help{
    margin-right: 25%;
}

.dms-header-login-link{
    background-color: rgb(0, 128, 255);
    color: white;
    padding: 8px 30px;
    border-radius: 4px;
}

.dms-header-login-link:hover{
    cursor: pointer;
    background-color: dodgerblue;
}

/* ------------ Body Section ---------- */

#grand-main-body{
    width: 100%;
    padding: 110px 10px 20px;
    background-color: #dddddd6c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.example-container{
    width: 60%;
    min-width: 380px;
    min-height: 200px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.2) 1px 4px 10px 1px;
    margin-bottom: 1.5rem;
    border-radius: 2px;
    padding: 20px;
}

.example-container h2{
    font-size: 20px;
    font-weight: 540;
    margin-bottom: .6rem;
}

.example-container p{
    padding-left: 18px;
    margin-bottom: .5rem;
}

#grand-main-footer{
    padding: 300px 300px 50px 300px;
    background-color: #dddddd6c;
}

.grid-footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.contents ul{
    margin: 0;
    padding: 10px;
    list-style-type: none;
}

.contents h2{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1rem;   
}
.contents ul li{
    font-size: 13px;
    color: #444;
}


