@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body,
input {
  font-family: "Poppins", sans-serif;
}


main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar{
  display: none;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
  overflow: hidden;
  display: grid;
}

.tab{
  display: none;
}

.first-section{
  grid-template-columns: [col] 1fr;  
  grid-template-rows: 1fr 3fr 60px;
  gap: 5px;
}

.admin-basic-info{
  display: grid;
  grid-template-columns: 4fr minmax(250px, 1fr);
}

.admin-main-info{
}

.admin-profile{
  background-image: url('/img/img/image1.png');
  background-size: cover;
  border-radius: 0px 0px 0px 4px;
}

.admin-description-info{
  width: 98%;
  margin: auto;
  height: 100%;
  border-radius: 6px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
}

.admin-button-get-started{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.admin-button-get-started button{
  padding: 10px 30px;
  border-radius: 4px;
  border: none;
  background-color: #8ba1e9;
  color: white;
}



.second-section{
  grid-template-columns: [col-start] minmax(300px, 1fr) [col-2] minmax(400px, 2fr) [col-end];
  gap: 5px;
}

.second-section .grid{
  border: 1px solid;
}

@media (max-width: 850px) {
    .box {
      height: auto;
      max-width: 550px;
      overflow: hidden;
    }
}