@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body,
input {
  font-family: "Poppins", sans-serif;
}


main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar{
  display: none;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
  overflow: hidden;
  display: grid;
}

.tab{
  display: none;
}

.first-section{
  background-color: lightslategray;
}

.second-section{
  grid-template-columns: [col-start] minmax(300px, 1fr) [col-2] minmax(400px, 2fr) [col-end];
  gap: 5px;
}

.second-section .grid{
  border: 1px solid;
}

@media (max-width: 850px) {
    .box {
      height: auto;
      max-width: 550px;
      overflow: hidden;
    }
}