<section class="header-section">
    <div class="header-grid">
        <span class="header-logo"><i class="fa-solid fa-school fa-2xl" style="color: #476fb3;"></i><h1></h1></span>
    </div>

    <div class="header-grid nav-links">
        <span class="link-content" onclick="openSearchPanel()">
            <i class="fa-solid fa-magnifying-glass" style="color: #6084c3;"></i>
            Search
        </span>

        <span class="link-content">
            <i class="fa-sharp fa-solid fa-circle-info" style="color: #6084c3;"></i>
            About Us
        </span>

        <span class="link-content">
            <i class="fa-solid fa-bullseye" style="color: #6084c3;"></i>
            Mission
        </span>

        <span class="link-content">
            <i class="fa-solid fa-phone" style="color: #6084c3;"></i>
            Contact Us
        </span>

        <a style="text-decoration: none;" class="link-content" href="/account">
            <i class="fa-solid fa-user" style="color: #6084c3;"></i>
            Account
        </a>

        <span class="link-content">
            <i class="fa-regular fa-circle-question" style="color: #6084c3;"></i>
            Help
        </span>
    </div>
</section>