<main class="main">
    <%- include('../../../Partials/App/Home/Header/search.ejs') %>
    <%- include('../../../Partials/App/Home/Header/nav.ejs') %>

    <section class="body-section">
        <!-- <div class="main-school">
            <div class="school-panel school-description">
               <div class="school-info school-admin-info">
                   <div class="school-main-info school-title">
                        <h2>College De Gisenyi INYEMERAMIHIGO</h2>
                   </div>
                   <div class="school-main-info school-body">
                       <p style="color: #305088;">School category: <span style="float: right; text-decoration: underline; cursor: pointer; color: #6084c3;">General Education Based </span><br>
                       School manager: <span style="float: right; text-decoration: underline; cursor: pointer; color: #6084c3;">BIZIMANA Esri</span><br>
                       School email: <span style="float: right; text-decoration: underline; cursor: pointer; color: #6084c3;">collegedegisenyi2023@gmail.com</span>
                    </p>
                </div>
                   <div class="school-main-info school-footer">
                    <p style="color: #305088;">School manager Tel: <span style="float: right; text-decoration: underline; cursor: pointer; color: #6084c3;">+250 788817263</span> <br>
                        School location: <span style="float: right; text-decoration: underline; cursor: pointer; color: #6084c3;">Rubavu, Gisenyi</span>
                    </p>
                   </div>
            </div>
               <div class="school-info school-main-footer">
                   <div class="footer-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus at laborum error, neque voluptatem ratione beatae, aliquid repellat sapiente vero corrupti, praesentium laudantium quam officiis. Corrupti quos hic harum, pariatur alias recusandae voluptas, eveniet quasi molestiae inventore ex quod suscipit. Neque iusto debitis dicta omnis. Dolores eligendi, placeat minima non ex aut autem laborum fugit necessitatibus aliquam suscipit est facilis, consectetur perspiciatis praesentium! Quia amet natus dolorem eaque, sequi repellendus eius inventore nihil, dolore veritatis ea sint, iure numquam laboriosam. Iure at adipisci dolor quaerat id fugiat! Cum voluptates eaque minus veniam.</p>
                   </div>
                   <div class="footer-footer">
                    <button>View more about <span style="text-decoration: underline;">MySchool</span></button>
                   </div>
            </div>
            </div>
            <div class="school-panel school-profile">
                <img src="/img/nature.png" width="100%" height="100%">
            </div>
        </div> -->
        <div class="grid"></div>
  
        <template id="card-template">
          <div class="card">
            <div class="header">
              <img class="header-img skeleton" src="https://source.unsplash.com/100x100/?nature" />
              <div class="title" data-title>
                <div class="skeleton skeleton-text"></div>
                <div class="skeleton skeleton-text"></div>
              </div>
            </div>
            <div data-body>
              <div class="skeleton skeleton-text"></div>
              <div class="skeleton skeleton-text"></div>
              <div class="skeleton skeleton-text"></div>
              <div class="skeleton skeleton-text"></div>
            </div>
          </div>
        </template>
    </section>
</main>