<main class="main">
    <%- include('../../../Partials/App/Home/Header/search.ejs') %>
    <%- include('../../../Partials/App/Home/Header/nav.ejs') %>

    <section class="body-section">
        <div class="main-school">
            <div class="school-panel school-description">
                <div class="main-key-school">
                    <h2>School Name: MySchool</h2>
                    <p>School Manager: Name of the school manager</p>
                    <p>School Category: School Category</p>
                </div>
                <p>School Email: Name of the school email</p>
                <p>School Manager Phone number: Tel number</p>
                <p>School Manager Email: School email</p>
                <p>School Location</p>
                <p>Boys</p>
                <p>Girls</p>
                <p>Trade or Combination</p>
            </div>
            <div class="school-panel school-profile">
                <img src="/img/master2.png" width="100%" height="100%">
            </div>
        </div>
    </section>
</main>