<main class="main">
    <%- include('../../../Partials/App/Home/Header/search.ejs') %>
    <%- include('../../../Partials/App/Home/Header/nav.ejs') %>

    <section class="body-section">
      <div class="top-search-section"></div>
      <div class="body-search-section">
        <div class="body-search-content">
          <div class="grid-body-content student-section">

            <div class="student-header">
              <div class="student-header-img"></div>
              <div class="student-title" data-student-title>
                <div class="student-skeleton student-skeleton-text"></div>
                <div class="student-skeleton student-skeleton-text"></div>
              </div>
            </div>
           
            <div class="student-body">
              <div class="student-data">
                <div class="student-initial student-initial-text"></div>
                <div class="student-initial student-initial-text"></div>
              </div>

              <div class="student-data">
                <div class="student-initial student-initial-text"></div>
                <div class="student-initial student-initial-text"></div>
              </div>

              <div class="student-data">
                <div class="student-initial student-initial-text"></div>
                <div class="student-initial student-initial-text"></div>
              </div>
            </div>

            <div class="student-body-content">
              <div class="student-skeleton student-skeleton-text"></div>
              <div class="student-skeleton student-skeleton-text"></div>
              <div class="student-skeleton student-skeleton-text"></div>
              <div class="student-skeleton student-skeleton-text"></div>
            </div>

            <div class="student-body-content">
              <div class="student-skeleton student-skeleton-text"></div>
              <div class="student-skeleton student-skeleton-text"></div>
              <div class="student-skeleton student-skeleton-text"></div>
              <div class="student-skeleton student-skeleton-text"></div>
            </div>

            <div class="student-footer">
                <div class="student-skeleton student-skeleton-text"></div>
                <div class="student-skeleton student-skeleton-text"></div>
                <div class="student-skeleton student-skeleton-text"></div>
                <div class="student-skeleton student-skeleton-text"></div>
            </div>
          </div>
          <div class="grid-body-content"></div>
          <div class="grid-body-content"></div>
        </div>
        <!-- <div class="body-search-content"></div>
        <div class="body-search-content"></div> -->
      </div>
    </section>
</main>