<main class="main">
    <div class="dms-header">
    
    </div>

    <!----------------------- Header section ----------->
    <section class="header-section">
        <div class="header-grid">
            <span class="header-logo"><i class="fa-solid fa-school fa-2xl" style="color: #476fb3;"></i><h1></h1></span>
        </div>

        <div class="header-grid nav-links">
            <span class="link-content">
                <i class="fa-solid fa-magnifying-glass" style="color: #6084c3;"></i>
                Search
            </span>

            <span class="link-content">
                <i class="fa-sharp fa-solid fa-circle-info" style="color: #6084c3;"></i>
                About Us
            </span>

            <span class="link-content">
                <i class="fa-solid fa-bullseye" style="color: #6084c3;"></i>
                Mission
            </span>

            <span class="link-content">
                <i class="fa-solid fa-phone fa-beat" style="color: #6084c3;"></i>
                Contact Us
            </span>

            <span class="link-content">
                <i class="fa-solid fa-user" style="color: #6084c3;"></i>
                Account
            </span>

            <span class="link-content">
                <i class="fa-regular fa-circle-question" style="color: #6084c3;"></i>
                Help
            </span>
        </div>
    </section>

    <!----------------------- Body section -------------------->

    <section class="body-section">
        <div class="body-grid main-container-photo">
          
        </div>
        <div class="body-grid after-photo-title">
            <h2>About Us</h2>
        </div>
        <div class="body-grid"></div>
        <div class="body-grid about-one"></div>
        <div class="body-grid about-two"></div>
        <div class="body-grid about-three"></div>
        <div class="body-grid about-four"></div>
        <div class="body-grid about-five"></div>
        <div class="body-grid about-six"></div>
        <div class="body-grid after-about">
            <h2>Our Missions</h2>
        </div>

        <div class="body-grid about-mission-one">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <h3 class="mission-header">Mission One</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut voluptate aperiam corporis facere nobis dolores! Pariatur iusto beatae incidunt quia animi provident, ab cum ipsum.</p>
                  </div>
                  <div class="swiper-slide">
                    <h3 class="mission-header">Mission Two</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut voluptate aperiam corporis facere nobis dolores! Pariatur iusto beatae incidunt quia animi provident, ab cum ipsum.</p>
                  </div>
                  <div class="swiper-slide">
                    <h3 class="mission-header">Mission Three</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut voluptate aperiam corporis facere nobis dolores! Pariatur iusto beatae incidunt quia animi provident, ab cum ipsum.</p>
                  </div>
                  <div class="swiper-slide">
                    <h3 class="mission-header">Mission Four</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut voluptate aperiam corporis facere nobis dolores! Pariatur iusto beatae incidunt quia animi provident, ab cum ipsum.</p>
                  </div>
                  <div class="swiper-slide">
                    <h3 class="mission-header">Mission Five</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut voluptate aperiam corporis facere nobis dolores! Pariatur iusto beatae incidunt quia animi provident, ab cum ipsum.</p>
                  </div>
                  <div class="swiper-slide">
                    <h3 class="mission-header">Mission Six</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut voluptate aperiam corporis facere nobis dolores! Pariatur iusto beatae incidunt quia animi provident, ab cum ipsum.</p>
                  </div>
                </div>
                <!-- <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div> -->
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="body-grid after-mission">
            <h2 style="margin-left: 10%;">Contact Us</h2>
            <h2 style="margin-left: 50%;">Partenership</h2>
        </div>

        <div class="body-grid contact-us"></div>
        <div class="body-grid partenership">

          <div class="swipercube mySwipercube">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consequuntur ipsam repellendus fugit tempora culpa pariatur fugiat cumque odit alias! Aliquid ullam magni provident sequi totam. Esse magnam totam illum!</p>
              </div>
              <div class="swiper-slide">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, consequuntur error. Saepe laudantium sit vero. Asperiores eos iste eius quasi architecto! Inventore odit explicabo tenetur? Quibusdam veniam delectus magnam eius.</p>
              </div>
              <div class="swiper-slide">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel consectetur delectus obcaecati qui pariatur laboriosam voluptas impedit, eaque, suscipit voluptates quasi laudantium ut id libero cum animi error ratione minima.</p>
              </div>
              <div class="swiper-slide">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione esse natus quod veritatis quia recusandae? Vitae, modi repellat, ex eveniet nobis ea veritatis dolores eligendi, neque at saepe debitis recusandae.</p>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="body-grid main-footer">
          <div class="footer-content first-footer"></div>
          <div class="footer-content second-footer">
            <div class="main-FQA">
              <h2>Frequently Asked Question (FQA)</h2>
            <p>System requirements <span>></span></p>
            <p>Where can I learn more about how to get started? <span>></span></p>
            <p>Is this system available for mobile users? <span>></span></p>
            <p>What about the version of IOS? <span>></span></p>
            <p>Will I automatically be charged when my trial ends? <span>></span></p>
            </div>
          </div>
          <div class="footer-content third-footer">
            <div class="main-FOLLOW">
              <h2>Follow Us</h2>
              <p><i class="fa-brands fa-facebook"></i> Facebook: <span style="text-decoration: underline;">Ihope Dvelopment</span></p>
              <p><i class="fa-brands fa-whatsapp"></i> WhatsApp: <span style="text-decoration: underline;">+250 788203948</span></p>
              <p><i class="fa-brands fa-instagram"></i> Instagram: <span style="text-decoration: underline;">i_hope201</span></p>
              <p><i class="fa-brands fa-twitter"></i> Twitter: <span style="text-decoration: underline;">Ihope</span></p>
              <p><i class="fa-solid fa-phone fa-bounce"></i> Call Us: <span style="text-decoration: underline;">+250 788839281</span></p>
            </div>
          </div>
          <div class="footer-content developer-footer">
            <p>&copy;Copyright 2023. All Rights Reserved</p>
          </div>
        </div>
        
        
    </section>
</main>


<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
        window.onscroll = function() {myFunction()};
        
        var navbar = document.querySelector(".header-section");
        var sticky = navbar.offsetTop;
        
        function myFunction() {
          if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
          } else {
            navbar.classList.remove("sticky");
          }
        }


        var swiper = new Swiper(".mySwiper", {
          slidesPerView: 3,
          spaceBetween: 30,
          centeredSlides: true,
          autoplay: {
            delay: 3000,
            disableOnInteraction: false,
          },
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });

        var swiper_cube = new Swiper(".mySwipercube", {
          effect: "cube",
          grabCursor: true,
          autoplay: {
            delay: 3000,
            disableOnInteraction: false,
          },
          cubeEffect: {
            shadow: true,
            slideShadows: true,
            shadowOffset: 20,
            shadowScale: 0.94,
          },
          pagination: {
            el: ".swiper-pagination",
          },
        });
        
        </script>
