<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<div class="body-photo body-first-content">
    <div class="first-content dms-description">
      <p><span class="dms-introduction">school discipline management system,</span> also known as a discipline management software or system, is a tool or platform designed to help schools manage and maintain discipline, behavior, and conduct among students. It is used to streamline various aspects of disciplinary processes within an educational institution.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, aspernatur soluta rem officia ad magnam neque, non laudantium repudiandae expedita assumenda ducimus omnis tempora nulla consectetur reprehenderit! Quis temporibus rerum quos optio delectus earum accusantium a odio. Deleniti, eaque temporibus. Quaerat praesentium, alias iure ab labore doloremque nemo ducimus veniam molestias dignissimos iusto dolores accusantium nulla in officia accusamus aperiam consectetur culpa vero repellendus, impedit autem a ratione fugiat! Autem!</p>
    </div>
    <div class="first-content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus impedit nobis itaque ipsum odio dolores enim distinctio quis? Labore, dolorum vel minus nihil quae nulla rerum distinctio. <span style="text-decoration: underline; color: rgb(8, 78, 95);">Learn more</span></p>
    </div>
  </div>
  <div class="body-photo main-photo">
    


    <div class="swiper mySwiperintroductiondms">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/img/animatrice.png">
        </div>
        <div class="swiper-slide">
          <img src="/img/master1.png">
        </div>
        <div class="swiper-slide">
          <img src="/img/animatrice2.png">
        </div>
        <div class="swiper-slide">
          <img src="/img/master2.png">
        </div>
        <div class="swiper-slide">
          <img src="/img/master.png" alt="">
        </div>
      </div>
    </div>


  </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script>
    var swiperdmsintroduction = new Swiper(".mySwiperintroductiondms", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 5000,
        disableOnInteraction: false
      }
    });
  </script>
  <style>
    
  </style>