<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon/logo" href="/img/logo1.jpg">
    <title>Register School Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/Authentication/school-reg.css" />
    <script src="/js/Authentication/school-reg.js" defer></script>
</head>
<body>
    <main class="main">
        <%- body %>
    </main>    
</body>
</html>